.category_btn {
   font-weight: bold;
   text-transform: capitalize;
   display: flex;
   align-items: center;
   justify-content: start;
   cursor: pointer;
   background: transparent;
   outline: none;
   border: none;

   padding: 7px 15px;
   margin: 10px 0px;
   border-radius: 20px;
   transition: all 0.3s ease;
}

.category_btn::-webkit-scrollbar {
   display: none; /* Safari and Chrome */
}
.category_btn:hover {
   background-color: #fc1503;
   color: white;
}

.category_btn:hover span {
   color: white;
}
